{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    

    <div class="login">
        <div>
            <label for="">Benutzername:</label>
            <input type="text" name="" id="">
        </div>

        <div>
            <label for="">Passwort:</label>
            <input type="text">
        </div>
        <div>
            <button>Login</button>
            <a href="">passwort vergessen</a>

            <a href="">Account anlegen</a>
        </div>
        
    </div>
</body>
</html>